/* section {
  height: 100vh;
} */

.hero-section {
  position: relative;
}
.header {
  background: transparent;
  min-height: 100vh;
  background-image: url('../images/fini5.png');
  background-size: cover;
  background-repeat: no-repeat;
  padding: 4rem;
}
.header-content-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 4rem;
  font-weight: bold;
  letter-spacing: 0.8;
  color: #bf322d;
}

.nav-items {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 2rem;
}

.nav-link:link,
.nav-link:visited {
  color: #fff;
  position: relative;
  display: inline-block;
}

.nav-item {
  position: relative;
}

.nav-link::before {
  content: '';
  display: inline-block;
  width: 0%;
  height: 0.4rem;
  background-color: #ef3e38;
  position: absolute;
  bottom: -0.8rem;
  left: 0;
  transition: all 0.3s;
}

.nav-item:hover .nav-link::before {
  width: 100%;
}

.hero-container {
  /* position: absolute;
  left: 0;
  bottom: 0;
  transform: translateY(80%); */
  background-color: #fff;
  border-top: 2rem solid #ef3e38;
  margin: auto;
}

.hero-contents {
  display: grid;
  max-width: 130rem;
  margin: 9.8rem auto;
  grid-template-columns: repeat(3, 1fr);
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  gap: 9.8rem;
  /* margin: 0 4rem;
  padding: 4rem; */
}

.h-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 2rem;
}

.info {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
  background-color: #10113f;
  font-size: 3rem;
  padding: 5rem 0;
  color: #fff;
}

/*
About Us
*/
.about-us-section {
  background-image: url('../images/clients.png');
  background-size: cover;
  /* min-height: 130vh; */
  /* position: relative; */
}

.about-container {
  /* position: absolute;
  bottom: 10%;
  left: 30%; */
  max-width: 50rem;
  color: rgba(255, 255, 255, 0.905);
  margin: auto;
  padding: 4rem;
}

.about-container div {
  margin-bottom: 3rem;
}

.team {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 9.8rem;
  padding: 4rem;
}

.team-header {
  grid-column: 1 / -1;
}

.services-section {
  color: rgba(255, 255, 255, 0.905);
  /* min-height: 100vh; */
  /* display: flex;
  align-items: center; */
  background-image: linear-gradient(to right, #ef3e38, rgba(0, 0, 0, 0.296)),
    url('../images/bgb.jpg');
  background-size: cover;
  padding: 9.8rem 0;
}

.services-content {
  /* background: linear-gradient(to right, #ef3e38, rgba(0, 0, 0, 0.296)); */
  padding: 4rem;
}
.services-section p {
  font-size: 2.6rem;
}
.services-section p:not(:last-child) {
  margin-bottom: 5rem;
}

/* .style-span {
  width: 1rem;
  height: 1rem;
  background-color: #ef3e38;
  border-radius: 50%;
  display: inline-block;
  margin-left: 2rem;
} */

.two-bg {
  background-image: url('../images/clients.png');
  background-size: cover;
}
.testimonials-section {
  min-height: 100vh;
}

.testimonial-content,
.contact-content {
  max-width: 50rem;
  margin: auto;
  color: #fff;
}
.testimonial-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.testi-head {
  grid-column: 1 / -1;
}

.testimonial-content div {
  width: 20rem;
  height: 20rem;
  padding: 3rem;
  background-color: #fff;
  margin-bottom: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonial-content img {
  width: 90%;
  margin: auto;
}

.contact-content p {
  margin-bottom: 2rem;
  font-size: 2.3rem;
}

.icon {
  color: #ef3e38;
}
