@media (max-width: 77em) {
  html {
    font-size: 55%;
  }

  .team {
    gap: 4rem;
  }

  .hero-contents {
    gap: 4rem;
  }
}

@media (max-width: 62em) {
  .team {
    grid-template-columns: repeat(2, 1fr);
  }
  .hero-contents {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 44em) {
  html {
    font-size: 50%;
  }
  .hero-contents {
    grid-template-columns: 1fr;
  }
  .team {
    grid-template-columns: 1fr;
  }

  .testimonials-section {
    min-height: 70vh;
  }

  .testimonial-content div {
    width: 16rem;
    height: 16rem;
  }
}
